spring:
  application:
    name: DeMentor
  profiles:
    active: local
  config:
    import:
      - optional:file:.env[.properties]
  jackson:
    time-zone: Asia/Seoul

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
#웹소켓
server:
  address: 0.0.0.0
  port: 8080


jwt:
  secret: ${JWT_SECRET_KEY}
  refresh:
    expiration: 604800000
  access:
    expiration: 1800000 #30분

  cookie:
    name: jwt
    access-cookie:
      name: accessToken
    refresh-cookie:
      name: refreshToken
    domain: localhost
    http-only: true # XSS 공격 방어를 위한 핵심 설정
    secure: false  # 개발환경에서는 false, 운영환경에서는 true, HTTPS 연결에서만 쿠키 전송 허용
    path: / # 쿠키가 유효한 경로 지정
    max-age-seconds: 86400

file:
  max-size: 5242880        # 5MB (5 * 1024 * 1024)
  max-per-user: 20       # 사용자당 최대 파일 수

firebase:
  config:
    path: firebase-adminsdk.json
  storage:
    bucket: dementor-cd1c2.firebasestorage.app
    url-expiry: 30   # 서명된 URL 만료 시간(일)

server:
  shutdown: graceful
  forward-headers-strategy: native
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
